<div class="container">
  <p><% @cocktails.each do |cocktail| %></p>
    <div class="card-index" style="background-image: url(<%= cocktail.banner_url %>")>
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </div>
  <% end %>
</div>
