.navbar-lewagon {
  justify-content: space-between;
  background: #24164D;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}


.navbar-light .navbar-nav .nav-link {
  color: $peach;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: $peach;
}

.heading {
  color: $peach;
}

// these are bootstrap variables and need to be overridden specifically

// https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
