// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background: $dark-purple;

  a {
    color: $peach;
  }

  // a:hover {
  //   font-weight: bold;
  // } -- doesn't work --bootstrap??
}

.form-container {
  text-align: center;
  width: 600px;
  border: solid $peach 3px;
  margin: 24px auto;
}

.form-submit {
  display: inline-block;
  text-align: center;
  width: 500px;
  margin: 24px;
  color: $peach;
}


